.working {
  background-image: url(../../../images/working-bg.png);
  padding: 80px 0;
}
.working__title {
  margin-bottom: 24px;
}
.working__description {
  text-align: center;
  margin-bottom: 46px;
}
.working__button {
  display: block;
  margin: 48px auto 0;
}
