@font-face {
    font-family: 'FuturaLightC';
    src: url('FuturaLightC.woff2') format('woff2'),
        url('FuturaLightC.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url('FuturaDemiC.woff2') format('woff2'),
        url('FuturaDemiC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBookC';
    src: url('FuturaBookC.woff2') format('woff2'),
        url('FuturaBookC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaFuturisC';
    src: url('FuturaFuturisC.woff2') format('woff2'),
        url('FuturaFuturisC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

