.accordion {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.accordion__button {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 87px;
  border: none;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background: linear-gradient(180deg, #FFF 50.57%, #BDC0FF 100%);
  box-shadow: 0px 0px 50px -10px rgba(22, 126, 194, 0.20);
  color: #333;
  font-family: FuturaDemiC;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
  padding: 30px 37px 30px 53px;
}
.accordion__button[data-is-open='true'] {
  background: linear-gradient(180deg, #969AF7 0%, #686EEC 100%);
}
.accordion__arrow {
  width: 40px;
  height: 40px;
  background-color: #8989d3;
  background-image: url(../../../images/arrow.svg);
  background-repeat:no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform .5s, background-color .5s;
  margin-left: 40px;
}
.accordion__button[data-is-open='true'] .accordion__arrow {
  background-color: #fff;
  background-image: url(../../../images/arrow2.svg);
  transform: rotate(-180deg);
}
.accordion-content {
  border-radius: 10px;
  border: 1px solid #167EC2;
  background: #FFF;
  margin-top: -15px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity .5s linear, max-height .5s linear;
}
.accordion__button[data-is-open=true] + .accordion-content {
  opacity: 1;
  max-height: 1000vh;
  transition: all .5s linear;
}
.accordion__answer {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 54px 43px 45px 53px;
}

@media screen and (max-width: 1024px) {
  .accordion__button {
    min-height: 120px;
  }
  .accordion-title {
    text-align: left;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .accordion__button {
    align-items: center;
    padding: 15px;
  }
  .accordion-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .accordion__button {
    min-height: 180px;
  }
  .accordion-title {
    width: 60%;
  }
}
